Assignment3/dxia063-Schema1.xsd

<? xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="arrayOfItemType">
        <xs:sequence>
            <xs:element name="Item" type="itemType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element type="xs:unsignedint" name="ItemId"/>
            <xs:element type="countryType" name="Origin"/>
            <xs:element type="xs:decimal" name="Price"/>
            <xs:element type="xs:string" name="Title"/>
            <xs:element type="xs:string" name="Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="countryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Italy"/>
            <xs:enumeration value="France"/>
            <xs:enumeration value="England"/>
            <xs:enumeration value="Spain"/>
            <xs:enumeration value="Iceland"/>
            <xs:enumeration value="Switzerland"/>
            <xs:enumeration value="Sweden"/>
            <xs:enumeration value="Portugal"/>
            <xs:enumeration value="Netherlands"/>
            <xs:enumeration value="Cyprus"/>
            <xs:enumeration value="Bulgaria"/>
            <xs:enumeration value="Denmark"/>
            <xs:enumeration value="India"/>
            <xs:enumeration value="Greece"/>
            <xs:enumeration value="Hungary"/>
            <xs:enumeration value="NZ"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="ArrayOfItem" type="arrayOfItemType"/>

</xs:schema>
